<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>khaibaotaikhoan</title>
    <link rel="stylesheet" href="../../public/home/captaikhoan.css">
    <link rel="stylesheet" href="../../public/home/tablestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="grid">
                <div class="header-contain">
                    <div class="home-content-text">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="content-text-logo">
                            <div class="home-content-text-top">HỆ THỐNG QUẢN LÝ</div>
                            <div class="home-content-text-bottom">ĐIỀU TRA DÂN SỐ</div>
                        </div>
                    </div>
                    <div class="home-content-right">
                        <div class="home-content-logo">
                            <img src="/image/citizenv.png" alt="">
                        </div>
                        <div class="home-content-name">
                            <div class="content-name-address">
                                <span>Thon Ha Hoa - Xa Tan Phu - Huyen Quoc Oai - Thanh pho Ha Noi</span>
                            </div>
                            <a href="" class="content-name-icon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </a>

                            <div class="content-name-account">
                                <img src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png" alt=""
                                    class="name-account-img">
                                <span class="name-account-text">B2 thon HA HOA</span>
                                <ul class="navbar__user-menu">
                                    <li>
                                        <a href="">Tài khoản của tôi</a>
                                    </li>
                                    <li>
                                        <a href="">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="grid">
                <div class="body-contain">
                    <div class="body-left">
                        <div class="body-left-account">
                            <div class="left-account-img">
                                <img src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png" alt="">
                            </div>
                            <div class="left-account-name">Cán bộ B2</div>
                            <div class="left-account-descoration">Cộng tác viên dân số</div>
                        </div>
                        <div class="body-left-home body-left-home-home">
                            <div class="body-left-home-content body-left-home-content-active">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Trang chủ</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-code">
                            <div class="body-left-home-content">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                                <span>Khai báo và cấp mã</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-account">
                            <div class="body-left-home-content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>Cấp và quản lý tài khoản</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-info">
                            <div class="body-left-home-content">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span>Xem thông tin người dân</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-progress">
                            <div class="body-left-home-content">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                <span>Theo dõi tiến độ nhập liệu</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-statistical">
                            <div class="body-left-home-content">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span>Báo cáo, thống kê</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <span>Nhập liệu dân số</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                <span>In phiếu điều tra</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Báo cáo hoàn thành</span>
                            </div>
                        </div>
                    </div>
                    <div class="body-right">
                        <!-- Trang chu -->
                        <div class="body-right-content">
                            <div class="right-content-name">Khai báo và cấp mã</div>
                            <div class="right-content-code right-content-same">
                                <div class="content-code-head content-same-head">Khai báo / Cấp mã cho tỉnh thành phố
                                </div>
                                <div class="content-code-body">
                                    <div class="code-body-name this-body-same">
                                        <div class="body-name-left body-same-left">
                                            Tên tỉnh / thành phố
                                        </div>
                                        <input type="text" class="name-khaibao-input same-left-input">
                                    </div>
                                    <div class="code-body-code this-body-same">
                                        <div class="body-code-left body-same-left">Mã tỉnh / thành phố</div>
                                        <input type="text" class="code-khaibao-input same-left-input">
                                    </div>
                                    <div class="code-body-password this-body-same">
                                        <div class="body-password-left body-same-left">Xác nhận mật khẩu</div>
                                        <input type="password" class="password-khaibao-input same-left-input">
                                    </div>
                                </div>
                                <div class="content-code-foot content-same-foot">
                                    <button class="code-foot-no-btn same-foot-no-btn">Hủy</button>
                                    <button class="code-foot-yes-btn same-foot-yes-btn">Xác nhận</button>
                                </div>
                            </div>
                            <div class="body-table">
                                <table style="width:100%">
                                    <div class="table-head">Danh sách các tỉnh / thành phố</div>
                                    <tr>
                                        <th>Mã tỉnh thành</th>
                                        <th>Tên tỉnh thành</th>
                                        <th>Chỉ tiêu số dân</th>
                                        <th>Tổng số dân đã nhập</th>
                                        <th>Tiến độ nhập liệu</th>
                                        <th>Thao tác</th>

                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hà Nội</td>
                                        <td>20.000</td>
                                        <td>18.000</td>
                                        <td>Chưa hoàn thành
                                            <button>chi tiết</button>
                                        </td>
                                        <td>
                                            <button>Xem</button>
                                            <button>Sua</button>
                                            <button>Xoa</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- Khai bao -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../public/home/home.js"></script>
</body>

</html>