<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>khaibaotaikhoan</title>
    <link rel="stylesheet" href="../../public/home/homestyle.css">
    <link rel="stylesheet" href="../../public/home/tablestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="grid">
                <div class="header-contain">
                    <div class="home-content-text">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="content-text-logo">
                            <div class="home-content-text-top">HỆ THỐNG QUẢN LÝ</div>
                            <div class="home-content-text-bottom">ĐIỀU TRA DÂN SỐ</div>
                        </div>
                    </div>
                    <div class="home-content-right">
                        <div class="home-content-logo">
                            <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.15752-9/266401116_206172831693187_7948420908133810499_n.png?_nc_cat=102&ccb=1-5&_nc_sid=ae9488&_nc_ohc=1qib0txerXIAX9NjRIU&tn=Zh_ac8gjx3BYwsnB&_nc_ht=scontent-sin6-2.xx&oh=03_AVJYozXoyDpuSd3hQG-JuVL8PkjjYZ0IO5JrKZwBQckS9Q&oe=61E28D16"
                                alt="">
                        </div>
                        <div class="home-content-name">
                            <div class="content-name-address">
                                <span>Thon Ha Hoa - Xa Tan Phu - Huyen Quoc Oai - Thanh pho Ha Noi</span>
                            </div>
                            <a href="" class="content-name-icon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </a>

                            <div class="content-name-account">
                                <img src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png" alt=""
                                    class="name-account-img">
                                <span class="name-account-text">B2 thon HA HOA</span>
                                <ul class="navbar__user-menu">
                                    <li>
                                        <a href="">Tài khoản của tôi</a>
                                    </li>
                                    <li>
                                        <a href="">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="grid">
                <div class="body-contain">
                    <div class="body-left">
                        <div class="body-left-account">
                            <div class="left-account-img">
                                <img src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png" alt="">
                            </div>
                            <div class="left-account-name">Cán bộ B2</div>
                            <div class="left-account-descoration">Cộng tác viên dân số</div>
                        </div>
                        <div class="body-left-home body-left-home-home">
                            <div class="body-left-home-content body-left-home-content-active">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Trang chủ</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-code">
                            <div class="body-left-home-content">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                                <span>Khai báo và cấp mã</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-account">
                            <div class="body-left-home-content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>Cấp và quản lý tài khoản</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-info">
                            <div class="body-left-home-content">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span>Xem thông tin người dân</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-progress">
                            <div class="body-left-home-content">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                <span>Theo dõi tiến độ nhập liệu</span>
                            </div>
                        </div>
                        <div class="body-left-home body-left-home-statistical">
                            <div class="body-left-home-content">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span>Báo cáo, thống kê</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <span>Nhập liệu dân số</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                <span>In phiếu điều tra</span>
                            </div>
                        </div>
                        <div class="body-left-home ">
                            <div class="body-left-home-content">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span>Báo cáo hoàn thành</span>
                            </div>
                        </div>
                    </div>
                    <div class="body-right">
                        <!-- Trang chu -->
                        <div class="body-right-content">
                            <div class="right-content-name">Trang chủ</div>
                            <div class="right-content-ratio">
                                <div class="content-ratio-same">
                                    <div class="ratio-same-top">
                                        <div class="ratio-same-top-left">
                                            <div class="children-top-left-number same-top-left-number">
                                                12
                                            </div>
                                            <div class="children-top-left-text same-top-left-text">TRẺ EM</div>
                                        </div>
                                        <div class="ratio-children-top-right">
                                            <i class="fa fa-child" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="ratio-children-bottom ratio-same-bottom">
                                        <div class="ratio-children-bottom-left">
                                            <span>12</span>
                                            /
                                            <span>99</span>
                                            NGƯỜI
                                        </div>
                                        <div class="ratio-children-bottom-right">
                                            12,12%
                                        </div>
                                    </div>
                                </div>
                                <div class="content-ratio-same">
                                    <div class="ratio-same-top">
                                        <div class="ratio-same-top-left">
                                            <div class="woman-top-left-number same-top-left-number">
                                                44
                                            </div>
                                            <div class="woman-top-left-text same-top-left-text">PHỤ NỮ</div>
                                        </div>
                                        <div class="ratio-woman-top-right">
                                            <i class="fa fa-female" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="ratio-woman-bottom ratio-same-bottom">
                                        <div class="ratio-woman-bottom-left">
                                            <span>44</span>
                                            /
                                            <span>99</span>
                                            NGƯỜI
                                        </div>
                                        <div class="ratio-woman-bottom-right">
                                            44,44%
                                        </div>
                                    </div>
                                </div>
                                <div class="content-ratio-same">
                                    <div class="ratio-same-top">
                                        <div class="ratio-same-top-left">
                                            <div class="old-top-left-number same-top-left-number">
                                                12
                                            </div>
                                            <div class="old-top-left-text same-top-left-text">NGƯỜI CAO TUỔI</div>
                                        </div>
                                        <div class="ratio-old-top-right">
                                            <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="ratio-old-bottom ratio-same-bottom">
                                        <div class="ratio-old-bottom-left">
                                            <span>12</span>
                                            /
                                            <span>99</span>
                                            NGƯỜI
                                        </div>
                                        <div class="ratio-old-bottom-right">
                                            12,12%
                                        </div>
                                    </div>
                                </div>
                                <div class="content-ratio-same">
                                    <div class="ratio-same-top">
                                        <div class="ratio-same-top-left">
                                            <div class="all-top-left-number same-top-left-number">
                                                99
                                            </div>
                                            <div class="all-top-left-text same-top-left-text">TỔNG SỐ NGƯỜI</div>
                                        </div>
                                        <div class="ratio-all-top-right">
                                            <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="ratio-all-bottom ratio-same-bottom">
                                        <div class="ratio-all-bottom-left">
                                            TỔNG
                                            <span>99</span>
                                            NGƯỜI
                                        </div>
                                        <div class="ratio-all-bottom-right">
                                            100%
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="contain-table trangchu-tabel">
                                <div class="table-head-title">Danh sách các tỉnh / thành phố</div>
                                <div class="body-table">
                                    <table style="width:100%">

                                        <!-- head-table -->
                                        <thead>
                                            <tr>
                                                <th>Mã tỉnh thành</th>
                                                <th>Tên tỉnh thành</th>
                                                <th>Chỉ tiêu số dân</th>
                                                <th>Tổng số dân đã nhập</th>
                                                <th>Tiến độ nhập liệu</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>

                                        <!-- body-table -->
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>01</td>
                                                <td>Hà Nội</td>
                                                <td>20.000</td>
                                                <td>18.000</td>
                                                <td>Chưa hoàn thành
                                                    <button class="td-detail-btn">Chi tiết</button>
                                                </td>
                                                <td>
                                                    <button class="td-see-btn td-same-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        Xem</button>
                                                    <button class="td-fix-btn td-same-btn">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Sửa</button>
                                                    <button class="td-delete-btn td-same-btn">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Xóa</button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- Khai bao -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-main="../../public/home/config.js" src="../../public/lib/require.js"></script>
</body>

</html>