<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../../public/login/loginstyle.css">
    <link rel="stylesheet" href="../../public/login/responsive.css">
</head>

<body>
    <div class="app">
        <div class="body-app">
            <div class="in-bottom-box">
                <div class="logo-danso"></div>
            </div>
            <div class="login-box">
                <div class="login-box-content">
                    <div class="content-logo-danso">
                        <div class="logo-danso-img">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkl4a965IeN9nRvnzs-wbrAI3NxiaA6t5bq9UWiZYXPKYK1V6CSIdQkSHWn0m1mxNv-Ws&usqp=CAU" alt=""> -->
                            <!-- <img src="https://en.pimg.jp/057/689/921/1/57689921.jpg" alt=""> -->
                            <img src="/image/citizenv.png" alt="">
                        </div>
                        <div class="logo-danso-text">
                            <div class="danso-text1">HỆ THỐNG</div>
                            <div class="danso-text2">ĐIỀU TRA DÂN SỐ</div>
                        </div>
                    </div>
                    <div class="content-title">Đăng nhập</div>
                    <div class="account-name-label">Tên đăng nhập</div>
                    <div class="signup-form-group input-with-validator--error">
                        <input type="text" class="signup-form-input" placeholder="Tên đăng nhập" id="username">
                    </div>
                    <div class="account-name-label">Mật khẩu</div>
                    <div class="signup-form-group input-with-validator--error">
                        <input type="password" class="signup-form-input" placeholder="Mật khẩu" id="password">
                    </div>
                    <button class="submit-login-btn">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
    <script data-main="../../public/login/config.js" src="../../public/lib/require.js"></script>
</body>

</html>